<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class= "center" id="Title">DOLPHINS CHESS</div>
	<div id="undo-btn" class="btn">
	</div>
</div>
<div id="board"> 
		 <div class= id="restart-btn" class="button">NEW GAME</div>
	</div>
	<div id="game" ng-app="myApp" ng-controller="GameController">
		 <div class="row" ng-repeat="y in widths">
			  <div class="box" ng-repeat="x in widths" ng-attr-id="{{'box-' + x + '-' + y}}" piece="">
			  </div>
		 </div>
	</div>
</div>
<div class="bottom" id="Jokey Part">TOTALLY LICENSED</div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="script.js"></script>
</html>



