

body {
 width: 580px;
 margin: 10px auto;
}


#board {
  width: 480px;
  margin: 15px auto 20px auto;
  
  border: 25px solid #fff;
  
  
}

#game {
  
}

.row {
  clear: both;
  overflow: hidden;
}

.box {
  width: 60px;
  height: 60px;
  float: left;
  text-align: center;
  line-height: 60px;
  font-size: 50px;
  cursor: default;
}

.placed {
  cursor: pointer;
}

.selected {
  -moz-box-shadow:    inset 0 0 10px #311B0B;
  -webkit-box-shadow: inset 0 0 10px #311B0B;
  box-shadow:         inset 0 0 10px #311B0B;
}





#result {
  width: 480px;
  height: 480px;
  line-height: 480px;
  position: absolute;
  background: transparent;
  text-align: center;
  font-size: 90px;
  cursor: default;
  animation: blur 1.5s ease-out infinite;
  z-index: 10;
}

.hide {
  display: none;
}



#pawn-promotion-option {
  width: 480px;
  height: 480px;
  line-height: 480px;
  position: absolute;
  background: transparent;
  text-align: center;
  font-size: 90px;
  cursor: default;
  z-index: 10;
}

#pawn-promotion-option .option {
  cursor: pointer;
}







#undo-btn, #option {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin-left: 50px;
 position: relative;
}

.btn .tooltiptext {
  visibility: hidden;
  font-family: monospace;
  width: 100px;
  background: #000;
  color: #ccc;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  line-height: 20px;
  font-size: 22px;

  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -50px;
}


.btn .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #000 transparent;
}









#restart-btn {
  width: 280px;
  margin: 40px auto 0 auto;;
}

.button {
  cursor: pointer;
}



@media only screen and (max-width: 570px) {
body {
  width: 100%;
}

  #board {
      width: 320px;
   border-width: 13px;
  }
  
  .box {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 36px;
   font-weight: normal;
  }
  
 
  
 
  
  #back-btn {
      margin-top: 25px;
  }
  
  .option-nav {
    margin: 0 auto;
      width: 340px;
      font-size: 24px;
    line-height: 10px;
  }
  
 #player-nav {
    width: 30%;
     margin-top: 5px;
 }

 #player {
     font-size: 28px;		
 }


 

  
  #pawn-promotion-option {
      width: 320px;
      height: 320px;
      font-size: 60px;
      line-height: 320px;
  }
  
  
}